github "lkzhao/Hero" == 0.3.6
github "PrideChung/FontAwesomeKit" == 2.2.1
github "willowtreeapps/spruce-ios"
github "rs/SDWebImage"
github "bizz84/SwiftyStoreKit"
github "adamcichy/SwiftySound"
github "hsousa/HCSStarRatingView"
github "EndouMari/TabPageViewController"
github "Dschee/iCarousel" "without-examples"
github "ariok/BWWalkthrough"
github "gpolak/LFHeatMap"
